/*----------------INDEX----------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; /*To remove the underline from the "a" tag*/
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0.109);
padding: 10px 40px;
}

.header .perfil{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 10px;
}

.main .section .my-post{
    display: flex;
    gap: 10px;
}
.main .section .my-post input{
    width: calc(100% - 80px);
    border: solid 1px rgba(0, 0, 0, 0.26);
    border-radius: 20px;  
    padding: 0 10px;
}

.img-perfil{ /*container for the circular image of each user's profile*/
    width: 80px;
    height: 80px;
}
.img-perfil img{ /*for the circular profile image of each user*/
   height: 100%;
   width: 100%;
   border-radius: 50%;
}


.main{
    display: grid;
    grid-template-columns: minmax(200px, 3fr) 1fr;
}

.menu{
    position: fixed;/*  so that the menu remained fixed and visible on the screen (probably changed to sticky)*/
    top: 0;
    right: 0;

    height: 100vh;
    width: 26vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .menu .list{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 .menu .list .item{
    width: 100%;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.menu .list li:hover{
    transition: all 0.3s ease;
    scale: 1.1;    
}

.main .section{
    display: grid;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.main .section .post{
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(0, 0, 0, 0.26);
    padding: 15px;
    border-radius: 20px;
    gap: 10px;
    
}
.main .section .post .container {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.main .section .post .container img{
    height: 100%;
    width: 100%;
    border-radius: 50% ;
  
   
}

.main .section .post .img-publication{
    border: solid 1px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    max-height: 500px;
    min-height: 400px; 
}


.main .section .post .img-publication img{ 
    height: 100%;
   max-width: 100%;
    object-fit: cover;/*To prevent an image from being deformed and taking up the space established in CSS*/  
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    height: 100px;
    background-color: gray;
}
.menu .toggle-input { /*Hide the checkbox */
    display: none;
  }
 .menu .toggle-label{ /* Hide the simbol of the menu */
    display: none;
}



@media (max-width: 650px) {
    .main{
        grid-template-columns: 1fr;
    }

    .img-perfil{
        height: 70px;
        width: 70px;
    }
    .main .section{
        padding: 5px;
    }
    .main .section .post .img-publication{
        min-height: auto;
    }

    .main .menu{
        flex-direction: column;
      }
    /* Hide menu initially */
    .main .menu .list {
        display: none;/*pending to change*/
        transform: translateX(100%);
        transition: all 0.3s ease;
      }
     
  /* Show menu when checkbox is checked */
    .main .menu .toggle-input:checked ~ .list{
        display: flex;
        transform: translateX(0%);
        transition: all 0.5s ease;
        background-color: rgb(122, 122, 141);
        height: 100vh;
        width: 70vw;
        
        position: fixed;
        right: 0;
        top: 0;
        gap: 4rem;   
  }

  .main .menu .list .item{
    border: transparent;
    
  }
  .main .menu .list .toggle-label-2{
    display: none;
  }
  .main .menu .toggle-label{
    display: grid;
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
  .header .title{
    display: none;
  }
 
}

/*----------------CONOCER----------------*/

.headerConocer{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(196, 1, 214, 0.74);
padding: 10px 40px;
}

.menuConocer {
  position: fixed;/*  so that the menu remained fixed and visible on the screen (probably changed to sticky)*/
  top: 0;
  right: 0;

  height: 100vh;
  width: 26vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggle-input {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;}

.menuConocer .list{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.menuConocer .list .item{
  width: 100%;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.menuConocer .list li:hover{
  transition: all 0.3s ease;
  scale: 1.1;    
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
      width: 90%; /* Reducir el ancho del contenedor para dispositivos pequeños */
    }
    .card {
      width: 100%; /* Hacer que las tarjetas ocupen todo el ancho en dispositivos pequeños */
      margin-bottom: 20px; /* Añadir un margen inferior entre las tarjetas */
    }
  }
  
  /* Estilos para pantallas medianas y grandes */
  @media (min-width: 769px) {
    .container {
      width: 80%; /* Reducir un poco el ancho del contenedor en pantallas más grandes */
      max-width: 1200px; /* Establecer un ancho máximo para el contenedor */
      margin: 0 auto; /* Centrar el contenedor en pantallas medianas y grandes */
    }
    .card {
      width: calc(33.33% - 40px); /* Hacer que las tarjetas ocupen un tercio del ancho del contenedor y añadir márgenes entre ellas */
      margin: 0 20px 20px 0; /* Añadir márgenes entre las tarjetas */
    }
    .row {
      margin-bottom: 20px; /* Añadir un margen inferior entre filas de tarjetas */
    }
  }
  .container{
    display: flex;
    padding: 40px;
    margin-right: 20%;
    flex-direction: column;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 10px;

}

  .card {
    border-radius: 6px; /* Borde redondeado para las tarjetas */
    width: 100%;
    overflow: hidden; /* Evitar que el contenido se desborde fuera de las tarjetas */
    background: #fff; /* Color de fondo de las tarjetas */
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2); /* Sombra para las tarjetas */
    overflow: hidden;
    cursor: default;
  }
  .card .agregar {
    margin-left: 30%;
    padding: 10px;

  }
  .card .nombre h2{
    margin-left: 13%;
    font-weight: 400;

  }
  .img-perfiles img {
    max-width: 100%; /* Imágenes se ajustan al ancho de su contenedor */
    height: auto; /* Mantener la proporción de aspecto de las imágenes */
    width: auto;
}
.row{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;}

  .contactConocer{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    height: 100px;
    background-color: rgba(196, 1, 214, 0.74);}

  
  







/*.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: grey;

}
.row{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card{
    width: 30%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    justify-content: center;
    
}
.img-perfiles{
    display: flex;
    width: 200px;
    height: 200px;
}