.profile{
    /* display: flex;
    justify-content: center; /* acomoda la etiqueta contenedor en el eje x 
    flex-direction: column; */
}

.background-image{
    height: 200px; 
    margin-bottom: 150px;
}

.background-image img{
    height: 100%;
    width: 100%;
}



.profile-picture {
    text-align: center;
    position: absolute;
    top: 100px; /* Ajusta la posición vertical según sea necesario */
    left: 50%; /* Ajusta la posición horizontal según sea necesario */
    transform: translateX(-50%);
  
}
    

.profile-picture .container-img {
    height: 200px;
    width: 200px;
}

.profile-picture .container-img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.principal{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.personal-information{
  
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px; 
    border: solid 1px rgba(128, 128, 128, 0.527);
    text-align: left; /* Alinea el texto a la izquierda */
    height: calc(100vh - 280px);
   
}

.container-publication{
    margin-top: 50px;
    display: grid;
    gap:15px;
    padding: 0 20px;
}
.container-publication .publication-space{
   border: solid 1px rgba(128, 128, 128, 0.527);
    border-radius: 15px;
}

.container-publication .publication-space .container-img {
    
    min-height: 200px;
    padding: 20px;
    border-radius: 20px;
   


}

.container-publication .publication-space .container-img img{
  
    height: 100%;
    max-width: 100%;
    object-fit: cover;


}


.main .menu{
    position: fixed;/*  so that the menu remained fixed and visible on the screen (probably changed to sticky)*/
    top: 0;
    right: 0;

    height: 100vh;
    width: 26vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .menu .list{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main .menu .list .item{
    width: 100%;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.main .menu .list li:hover{
    transition: all 0.3s ease;
    scale: 1.1;    
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    height: 100px;
    background-color: gray;
}

@media (max-width:820px) {
    .profile{
      
    }

    .main{
       grid-template-columns: 1fr;
    }
}